@import url('https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,600&display=swap');


.cairo {
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt";
}